<div class="hero-unit">

  <% if !@weights.empty? %>

    <h1>Current loss: <%= weight_loss %> kg</h1>
    <p>You were <strong><%= current_weight %> kg</strong>. So how much do you weight now, fatboy?</p>

  <% else %>

    <h1>First time?</h1>
    <p>Let's get started then, chunk!</p>

  <% end %>

  <form class="form-inline" action="/new" method="post">
    
      <input type="text" class="input-small" placeholder="Weight in Kg" name="kg">
      <button type="submit" class="btn btn-success"><i class="icon-plus icon-white"></i> Add</button>
  
  </form>

</div> <!-- heor-unit -->


<% if !@weights.empty? %>

  <div class="row">

    <div class="span1">
      <h4><%= start_weight %> kg</h4>
    </div>

    <div class="progress progress-info progress-striped span10">
      <div class="bar" style="width: <%= weight_loss_progress %>%;"></div>
    </div>

    <div class="span1">
      <h4><%= goal %> kg</h4>
    </div>

  </div>

<% end %>

  <% if ! @weights.empty? %>
    
    <% prev_kg = 0 %>

    <div class="clearfix">
      <h3>The last 7 days...</h3>

      <table class="table table-striped">
        
        <thead>
          <tr>
            <th>Date</th>
            <th>Kg</th>
            <th>Lbs</th>
            <th>Stone</th>
            <th>BMI</th>
            <th></th>
          </tr>
        </thead>

        <tbody>

          <% @weights.each_with_index do |entry, index| %>

            <% weight  = WeightConverter.new(entry.kg) %>
            <% prev_kg = ((index+1) < @weights.count) ? @weights[index+1].kg : weight.kg %>
            <% diff    = weight_diff(weight.kg, prev_kg) %>

            <tr>
              <td><%= tidy_date(entry.created_at) %></td>
              <td><%= weight.kg %> kg <span class="label <%= diff.label %>"> <%= diff.kg %></span></td>
              <td><%= weight.lbs %> lbs <span class="label <%= diff.label %> "> <%= diff.lbs %></span></td>
              <td><%= weight.stone[:string] %> <span class="label <%= diff.label %> "> <%= diff.lbs %></span></td>
              <td><%= weight.bmi %>% <span class="label <%= diff.label %>"> <%= diff.bmi %>%</span></td>
              <td>
                <a class="edit btn btn-mini" data-id="<%= entry.id %>" href="#">Edit</a>
                <a class="delete btn btn-mini btn-danger" data-id="<%= entry.id %>" href="#">Delete</a>
              </td>
            </tr>

          <% end %>
        
        </tbody>

      </table>

      <img src="<%= graph(@weights.reverse) %>">

      <div class="modal fade" id="deleteModal">
        <div class="modal-header">
          <a class="close" data-dismiss="modal">×</a>
          <h3>Delete entry?</h3>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to delete this entry?</p>
        </div>
        <div class="modal-footer">
          <a href="#" class="btn btn-danger">Delete</a>
          <a href="#" class="btn btn-close">Close</a>
        </div>
      </div>

      <div class="modal fade" id="editModal">
        <div class="modal-header">
          <a class="close" data-dismiss="modal">×</a>
          <h3>Edit entry</h3>
        </div>
        <div class="modal-body">
          <p>Enter new weight in Kg</p>
          <form class="form-inline">
            <input id="edit_kg" type="text" class="input-small" placeholder="Weight in Kg" name="kg">
          </form>

        </div>
        <div class="modal-footer">
          <a href="#" class="btn btn-primary">Edit</a>
          <a href="#" class="btn btn-close">Close</a>
        </div>
      </div>

    <% end %>

</div>